
@media only screen and (max-device-width: 768px) {
  .container-planos .container-cards {
    flex-wrap: wrap;
  }
  
  
}

/*PARTE 1*/
.apresentacao {
  justify-content: space-between;
  display: inline-flex;
  padding-bottom: 160px;
  height: 320px; /*320px*/
  background-color: #fff;
  position: relative;
  height: 320px;
  margin-bottom: 10rem;

}

.apresentacao .banner-opacity {
  opacity: 0.15;
}

.card-apresentacao {
  text-align: center;
}

.background-banner {
  background-color: #d4cedf; /*Remover cor ao terminar*/
  position: relative;
}
/*PARTE 1 - FIM*/

.btn-verde {
  text-decoration: none;
  color: whitesmoke;

  background-color: #00CF89;
  box-shadow: inset 0 0 1px 1px rgb(135, 231, 116);
  border: none;
  border-radius: 5px;
  padding: 16px 40px;
  cursor: pointer;
}

/*PARTE 2*/
.banner-video {
  text-align: center;
  position: relative;
  /*estava como absolute, mas nao exibia a div como-funciona - entao mudei para relative*/
  display: block;
  z-index: 1;
  background-color: #8F4FFB;
}

.yt-video {
  margin-top: -130px;
  /*margin-top: -6.2em;*/
}

/*lista*/

/* FIM DA PARTE 2 */

/*PARTE 3 - COMO FUNCIONA*/
.como-funciona {
  margin-left: 70px;
  margin-right: 70px;
}

.como-funciona p {
  text-align: center;
}

.como-funciona ol > li::marker {
  font-weight: bold;
  display: block;
}

.list-custom {
  display: inline-flex;
  list-style: none;
}

.numerada-com-imagem {
  display: inherit;
}

.list-custom img {
  padding-right: 40px;
  width: 50px;
  height: 50px;
}

/*.list-custom li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;

}*/

/* FIM DA PARTE 3 - COMO FUNCIONA */



/* PARTE 5 - PLANOS */

.container-planos {
  display: block;
  background-color: #8F4FFB;
  
  width: 100%;
  padding-bottom: 80px;
}

.container-planos .texto-selecione {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  color: whitesmoke;
}

.container-planos .card-planos .titulo-plano, .plano-valor{
  line-height: 10px;
}

.container-planos .card-planos { /*PRINCIPAL*/
  background-color: #FFFFFF;
  width: 19.22rem; /*310px*/

  padding: 20px 25px;
  font-size: 12px;
}

.container-planos .card-planos .titulo-plano {
  font-weight: bold;
  font-size: 15px;
  margin-top: 3px;
}

.container-planos .card-planos .plano-valor {
  color: #8F4FFB;
  font-size: 40px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.container-planos .container-cards {
  margin-left: 6.2rem; /*100px*/
  margin-right: 6.2rem;
  display: flex;
  justify-content: space-between;

}

.lista-inclusos {
  color: white;
  font-size: 15px;
}

.lista-inclusos p {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lista-inclusos li {
  list-style-image: url("../assets/img/check.png");
  line-height: 40px;
  position: relative;
  /*align-items: center;*/
}

.lista-inclusos li span {
  margin-top: -3px;
  position: absolute;
}

.border-garantia {
  height: 100px; width: 85%; 
  margin-top: -50px; position: relative;
  background-color: #6A34CA;
  border-radius: 5px;
  display: inline-flex;
  text-align: center;
  place-items: center;
}

.header-container,
.apresentacao,
.banner-video,
.como-funciona,
.conteudo-diferencial,
.container-planos,
.border-garantia,
.rodape {
  padding-left: 6.2rem;
  padding-right: 6.2rem;
}

@media screen and (max-width: 768px) {
  .header-container,
  .apresentacao,
  .banner-video,
  .como-funciona,
  .conteudo-diferencial,
  .container-planos,
  .border-garantia,
  .rodape {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .apresentacao{
    flex-wrap: wrap;
    justify-content: center;
  }
  .apresentacao img{
    display: none;
  }

  .yt-video {
    /*width:627.2px;
    height:352.8px;*/
    width: 80%;
    height: 35vh;
  }



  .conteudo-diferencial{
    flex-wrap: wrap;
    justify-content: center;
  }

  .conteudo-diferencial .card-2 {
    width: auto;
  }
  .conteudo-diferencial img {
    width: 25rem;
    height: auto;
    margin-top: 3rem;
  }

  .simular-comissao .cabecalho{
    padding: 0 5% 0 5%;
  }


}