
/*PARTE 1*/
.apresentacao {
  justify-content: space-between;
  display: inline-flex;
  padding-bottom: 160px;
  height: 320px; /*320px*/
  background-color: #fff;
  position: relative;
  height: 320px;
  margin-bottom: 10rem;
  .banner-opacity {
    opacity: 0.15;
  }

}

.card-apresentacao {
  text-align: center;
}

.background-banner {
  background-color: #d4cedf; /*Remover cor ao terminar*/
  position: relative;
}
/*PARTE 1 - FIM*/

.btn-verde {
  text-decoration: none;
  color: whitesmoke;

  background-color: #00CF89;
  box-shadow: inset 0 0 1px 1px rgb(135, 231, 116);
  border: none;
  border-radius: 5px;
  padding: 16px 40px;
  cursor: pointer;
}

/*PARTE 2*/
.banner-video {
  text-align: center;
  position: relative;
  /*estava como absolute, mas nao exibia a div como-funciona - entao mudei para relative*/
  display: block;
  z-index: 1;
  background-color: #8F4FFB;
  padding-bottom: 25px;
}

.yt-video {
  margin-top: -170px;
  width: 1120px;
  height: 630px;
}

.lista {
  color: white;
}

/*lista*/

/* FIM DA PARTE 2 */

/*PARTE 3 - COMO FUNCIONA*/
.como-funciona {
  margin-left: 70px;
  margin-right: 70px;
  
  ol > li::marker {
    font-weight: bold;
    display: block;
  }
  
}
.como-funciona   p{
  text-align: center;
}

.list-custom {
  display: flex;
  list-style: none;
  img {
    padding-right: 40px;
    width: 50px;
    height: 50px;
  }
}

.numerada-com-imagem {
  display: inline-flex;
  padding-bottom: 20px;
}

/* FIM DA PARTE 3 - COMO FUNCIONA */



/* PARTE 5 - PLANOS */

.container-planos {
  display: grid;
  background-color: #8F4FFB;
  position: relative;
  
  padding-bottom: 0;
  justify-items: center;
  margin-bottom: 7.5rem;

  .texto-selecione {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    color: whitesmoke;
    font-size: 20px;
  }
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  
  }
}


.container-planos .card-planos .titulo-plano, .plano-valor{
  line-height: 10px;
}

.container-planos .card-planos { /*PRINCIPAL*/
  background-color: #FFFFFF;
  width: 19.22rem; /*310px*/

  padding: 20px 25px;
  font-size: 12px;
}

.container-planos .card-planos .titulo-plano {
  font-weight: bold;
  font-size: 15px;
  margin-top: 3px;
}

.container-planos .card-planos .plano-valor {
  color: #8F4FFB;
  font-size: 40px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.lista-inclusos {
  color: white;
  font-size: 15px;
}

.lista-inclusos p {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lista-inclusos li {
  list-style-image: url("../assets/img/check.png");
  line-height: 40px;
  position: relative;
  /*align-items: center;*/
}

.lista-inclusos li span {
  margin-top: -3px;
  position: absolute;
}

.border-garantia {
  height: 100px; width: 85%; 
  margin-bottom: -50px;
  position: relative;
  background-color: #6A34CA;
  border-radius: 5px;
  display: inline-flex;
  text-align: center;
  place-items: center;
}

.header-container,
.apresentacao,
.banner-video,
.como-funciona,
.conteudo-diferencial,
.container-planos,
.border-garantia {
  padding-left: 6.2rem;
  padding-right: 6.2rem;
}

@media screen and (max-width: 768px) {
  /*.header-container,*/
  .apresentacao,
  .banner-video,
  .como-funciona,
  .conteudo-diferencial,
  .container-planos,
  .border-garantia {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-container{
    padding-left: 0;
    padding-right: 0;
    position: sticky;top:0;z-index:2;
  }


  .border-garantia {
    padding-left: auto;
    padding-right: auto;
    width: 90%;
    height: 5rem;
    margin-bottom: -2.5rem;
  }

  .border-garantia img {
    width:12.5rem;
    padding: 10px;
  }
  .border-garantia p {
    text-align: center;
  }

  .apresentacao{
    flex-wrap: wrap;
    justify-content: center;
  }
  .apresentacao img{
    display: none;
  }

  .yt-video {
    width: 80%;
    height: 35vh;
  }

  .conteudo-diferencial{
    flex-wrap: wrap;
    justify-content: center;
  }


  .conteudo-diferencial img {
    width: 25rem;
    height: auto;
    margin-top: 3rem;
  }

  .container-planos #container-cards-responsivo {
    justify-content: center;
  }

  .simular-comissao .cabecalho{
    padding: 0 5% 0 5%;
  }

  .list-custom {
    display: grid;
  }
  .numerada-com-imagem {
    display: inline-flex;
    text-align: justify;
    align-items: center;
  }
  
  
  


}